<!DOCTYPE html>
<html>
<head>

  <!-- Link Bootstrap CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <style>

    .footer {
      background-color: #7C9D96;

      text-align: center;
      margin-top:100px;
      padding:50px;


    }

    .footer .social-links {
      margin-top: 10px;
    }

      .footer .social-links a {
        color: #333;
        margin: 0 10px;
      }

    .footer .social-links a:hover {
      color: #555;
    }
    p{
      font-family: 'Rubik Dirt', cursive;
    }

  </style>
</head>
<body>
  <div class="content">
    <!-- Rest of your blog content goes here -->
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>This App Was Made By Ahmed Daoudi.</p>
          <div class="social-links">
              <h6>&copy; 2023 InstaFace. All rights reserved.</h6>
              <a href="https://twitter.com/aHmEdAoUDI01"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/ahmed-daoudi-aa693a230/"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Link Bootstrap JS file -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
