<!DOCTYPE html>
<html>
<head>
  <title>InstaFace</title>
  <!-- Link Bootstrap CSS file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Custom CSS -->
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <span class="logo nav-link">InstaFace</span>
        </div>
        <div class="col-md-9">
          <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/"style="font-size: 18px";>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Facebook" style="font-size: 18px";>Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" style="font-size: 18px;">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- Rest of your blog content goes here -->

  <!-- Link Bootstrap JS file -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
